.button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    front-weight: bold;
    margin-right: 1rem;
    background: #393b3f;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.1rem;
}

.button:hover {
    opacity: 0.8;
}

.button:disabled {
    cursor: not-allowed;
}

.button.active {
    background: #56955b;
    color: #1e1f22;
}