@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;700&family=Titillium+Web&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Microsoft JhengHei UI Light', sans-serif;
    color: #fdfdfd;
    background-color: #121212;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    padding-top: 2rem;
    padding-right: 3rem;
}

h1 {
    margin-bottom: 1rem;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 34px;
}

section ul {
    list-style: none;
}

section ul li {
    border: 1px solid #393b3f;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    font-family: PT Serif, Times, serif;
    font-size: 20px;
}

a {
    color: #ffffff;
}

.content,

.centered {
    text-align: center;
}

.control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    width: 100%;
    margin-bottom: 1rem;
}
